{% extends 'base.html' %}

{% block title %}Mark Attendance{% endblock %}

{% block content %}
    <h2>Mark Attendance</h2>
    <div class="video-feed">
        <img src="{{ url_for('video_feed') }}" alt="Video Feed">
    </div>
    <p>Or</p>
    <form action="{{ url_for('attendance') }}" method="post" enctype="multipart/form-data">
        <label for="image">Upload Image for Attendance:</label>
        <input type="file" id="image" name="image" accept="image/*">
        <button type="submit">Submit</button>
    </form>
    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
{% endblock %}
